@import './header.css';
@import './principal.css';
@import './rodape.css';

:root {
    --cor-principal: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-links-rodape: #6b6b6b;

    --cor-botao-secundario: #1a8917;
    --cor-botao-secundario2: #191919;

    --cor-de-fundo: #f7f4ed;

    --fonte-principal: 'Poppins', sans-serif;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a, ul {
    text-decoration: none;
    list-style-type: none;
}