.cabecalho {
    border-bottom: solid black 1px;
    padding: 2.5rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__navegacao__lista__item__link {
    color: var(--cor-principal);
    font-size: 1.4rem;
}

.botao {
    color: var(--cor-secundaria);
    padding: 1rem 2rem;
    background-color: var(--cor-principal);
    border-radius: 2.4rem;
    font-weight: 500;
}

.cabecalho__navegacao__lista__item:nth-child(1),
.cabecalho__navegacao__lista__item:nth-child(2),
.cabecalho__navegacao__lista__item:nth-child(3),
.cabecalho__navegacao__lista__item:nth-child(4) {
    display: none;
}

@media screen and (min-width: 552px) {
    .cabecalho__navegacao__lista__item:nth-child(4) {
        display: block;
    }

    .cabecalho__navegacao__lista {
        display: flex;
        gap: 1.8rem;
        align-items: center;
    }
}

@media screen and (min-width: 728px) {
    .cabecalho__navegacao__lista__item:nth-child(1),
    .cabecalho__navegacao__lista__item:nth-child(2),
    .cabecalho__navegacao__lista__item:nth-child(3) {
        display: block;
    }

    .cabecalho {
        padding: 2.5rem 6rem;
    }
}