.principal {
    padding: 18% 2.4rem 18% 2.4rem;
    text-align: left;
}

.principal__titulo {
    font-size: 8.0rem;
    letter-spacing: -4.4px;
    line-height: 7.2rem;
    font-weight: 400;
}

.principal__subtitulo {
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    margin: 4.2rem 0;
}

.principal__botao {
    display: inline-block;
    color: var(--cor-secundaria);
    padding: .8rem 3.0rem;
    background: var(--cor-botao-secundario);
    font-size: 2.0rem;
    border-radius: 2.4rem;
    text-align: center;
}