.principal {
    padding: 3rem 2.4rem 4rem 2.4rem;
    text-align: left;
    align-self: center;
}

.principal__titulo {
    font-size: 8.0rem;
    letter-spacing: -4.4px;
    line-height: 7.2rem;
    font-weight: 400;
}

.principal__subtitulo {
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    margin: 4.2rem 0;
}

.principal__botao {
    display: inline-block;
    color: var(--cor-secundaria);
    padding: .8rem 3.0rem;
    background: var(--cor-botao-secundario);
    font-size: 2.0rem;
    border-radius: 2.4rem;
    text-align: center;
}

@media screen and (min-width: 728px) {
    .principal {
        padding: 3rem 6rem 4rem 6rem;
    }

    .principal__titulo {
        font-size: 9.0rem;
        line-height: 10rem;
    }
}

@media screen and (min-width: 904px) {
    .principal__botao {
        background: var(--cor-principal);
    }
}